<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>objects</key>
	<dict>
		<key>VSTag</key>
		<dict>
			<key>table</key>
			<string>tags</string>
			<key>uniqued</key>
			<true/>
			<key>properties</key>
			<dict>
				<key>uniqueID</key>
				<string>string</string>
				<key>name</key>
				<string>string</string>
				<key>nameModificationDate</key>
				<string>date</string>
			</dict>
		</dict>
		<key>VSNote</key>
		<dict>
			<key>table</key>
			<string>notes</string>
			<key>uniqued</key>
			<true/>
			<key>properties</key>
			<dict>
				<key>uniqueID</key>
				<string>int64</string>
				<key>truncatedText</key>
				<string>string</string>
				<key>links</key>
				<string>plist</string>
				<key>sortDate</key>
				<string>date</string>
				<key>thumbnailID</key>
				<string>string</string>
				<key>archived</key>
				<string>boolean</string>
				<key>text</key>
				<string>string</string>
				<key>creationDate</key>
				<string>date</string>
				<key>textModificationDate</key>
				<string>date</string>
				<key>sortDateModificationDate</key>
				<string>date</string>
				<key>archivedModificationDate</key>
				<string>date</string>
				<key>tagsModificationDate</key>
				<string>date</string>
				<key>attachmentsModificationDate</key>
				<string>date</string>
				<key>modificationDate</key>
				<string>date</string>
			</dict>
			<key>relationships</key>
			<dict>
				<key>tags</key>
				<dict>
					<key>table</key>
					<string>tagsNotesLookup</string>
					<key>parentID</key>
					<string>noteID</string>
					<key>childID</key>
					<string>tagID</string>
					<key>childClass</key>
					<string>VSTag</string>
					<key>indexKey</key>
					<string>ix</string>
				</dict>
				<key>attachments</key>
				<dict>
					<key>table</key>
					<string>attachmentsNotesLookup</string>
					<key>parentID</key>
					<string>noteID</string>
					<key>childID</key>
					<string>attachmentID</string>
					<key>childClass</key>
					<string>VSAttachment</string>
					<key>indexKey</key>
					<string>ix</string>
				</dict>
			</dict>
		</dict>
		<key>VSTimelineNote</key>
		<dict>
			<key>table</key>
			<string>notes</string>
			<key>uniqued</key>
			<true/>
			<key>properties</key>
			<dict>
				<key>uniqueID</key>
				<string>int64</string>
				<key>truncatedText</key>
				<string>string</string>
				<key>links</key>
				<string>plist</string>
				<key>sortDate</key>
				<string>date</string>
				<key>thumbnailID</key>
				<string>string</string>
				<key>archived</key>
				<string>boolean</string>
			</dict>
		</dict>
		<key>VSAttachment</key>
		<dict>
			<key>table</key>
			<string>attachments</string>
			<key>immutable</key>
			<true/>
			<key>uniqued</key>
			<true/>
			<key>properties</key>
			<dict>
				<key>uniqueID</key>
				<string>string</string>
				<key>mimeType</key>
				<string>string</string>
				<key>height</key>
				<string>int64</string>
				<key>width</key>
				<string>int64</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
